main {
    max-width: 100%;
    padding-top: 0;
}

table {
    width: 100%;
}

table thead {
    text-align: left;
}

table tbody  td {
    border-bottom: 1px solid var(--color-text)
}

tbody tr:hover {
    background-color: var(--color-green);
}

section {
    max-width: 100%;
}