@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

:root {
    --width-max: 800px;
    --height-header: 14rem;
    --height-footer: 4rem;

    --height-line: 1.6rem;
    --height-field: 2rem;

    --gap-big: 2.4rem;
    --gap-medium: 1.4rem;
    --gap-normal: 1rem;
    --gap-small: 0.6rem;
    --gap-mini: 0.2rem;

    --color-bg:#f3e8ca;
    --color-text: #354604;
    --color-black: black;
    --color-green: #a3b17e;
    --color-yellow: #e7b92d;
    --color-red: #e32138;
    --color-purple: #a77db3;

    --font: "Mynerve", cursive;
    /* --font2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    --font2: "DM Mono", monospace;
}

html, h1, h2, h3 {font-family: var(--font);}
html {cursor: url('../boeket.cur'), auto;}
h2 {margin-bottom: var(--gap-small);}
h3 {text-align: center;}
a {color: var(--color-text); cursor: url('../boeket2.cur'), auto;}
label, .plusmin div, select, input {  cursor: url('../boeket2.cur'), auto;}
img {width: 100%;}
i.small {font-size: 0.8rem; opacity: .69; font-style: normal;}
p.error {color: var(--color-red);}
select.error {background-color: var(--color-yellow);}

section {width: 100%; margin-top: var(--gap-small); margin-bottom: var(--gap-medium);}

.desktop {display: none;}
span.mobile {display: inline;}

/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 0.4rem; 
}

::-webkit-scrollbar-track {
  background: var(--color-bg); 
}

::-webkit-scrollbar-thumb {
  background: var(--color-green);  
  border-radius: 25%;
}




/* STRUCTUUR */

body {
    width: 100vw;
    height: 100svh;

    background-color: var(--color-bg);
    color: #354604;

    overflow-x: hidden;
    overflow-y: hidden;

    position: relative;
}

body>div {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}

header {
    width: 100%;
    max-width: var(--width-max);
    height: var(--height-header);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 var(--gap-small);
}

header>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 100%;
    justify-content: space-evenly;
}

header>div>img {
    height: 6rem;
    width: auto;
}

header svg {
    height: 3rem;
    width: auto;
}

nav {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

nav a {
    border: 1px solid #354604;
    text-decoration: none;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-weight: 600;
    background-color: var(--color-bg);
    display: inline-flex;
}

nav a:hover{
    background-color: #354604;
        color: #f3e8ca;
}

nav a.actief {
    pointer-events: none;
    background-color: #354604;
    color: #f3e8ca;
}

nav a:first-child {animation: wobble 16s ease-in-out infinite; }
nav a:nth-child(2) {animation: wobble 20s ease-in-out infinite; transform: translateY(0.6rem);}
nav a:nth-child(3) {animation: wobble 18s ease-in-out alternate-reverse infinite;  transform: translateY(0.2rem);}

@keyframes wobble {
  0% {border-radius: 45% 19% 50% 70% / 69% 50% 70% 60%;}
  25% {border-radius: 60% 40% 30% 70% / 40% 60% 50% 70%;}
  50% {border-radius: 70% 30% 100% 40% / 50% 70% 30% 60%;}
  75% {border-radius: 50% 60% 40% 30% / 60% 30% 70% 40%;}
  100% {border-radius: 45% 19% 50% 70% / 69% 50% 70% 60%;}
}

body>div>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100svh - var(--height-header)) ;
}

main {
    padding: var(--gap-big) 0 0 0;
    flex-grow: 1;
    width: calc(100% - 2 * var(--gap-small));
    max-width: var(--width-max);
    font-family: var(--font2);
    display: flex;
    flex-direction: column;
}

footer {
    min-height: var(--height-footer);
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
footer p { line-height: calc((var(--height-footer) / 3)); font-size: 0.9rem;}
footer p span{font-size: 0.8rem;}
footer a {text-underline-offset: var(--gap-mini);}

div#omhoog {
    cursor: pointer;
    position:fixed; bottom: var(--gap-medium); right: var(--gap-medium);
    display: flex;  justify-content: center; align-items:center; 
    border: 1px solid var(--color-text); background-color: var(--color-bg);
    animation: wobble 18s ease-in-out alternate-reverse infinite;
    width: var(--gap-big); height: auto; min-height: var(--gap-big); aspect-ratio: 1/1; 

    opacity: 0;                /* start hidden */
    pointer-events: none;
    transition: opacity 0.4s ease;
}
div#omhoog.show{opacity: 1; pointer-events: auto;}



/* LANDINGSPAGINA */

main#landing {
    justify-content: start;
    align-items: center;
}

p.slogan {
    font-size: 1.1rem;
    font-family: var(--font2);
    text-align: center;
    font-weight: 600;
}

main#landing img {
    position: absolute;
    bottom: 0;
    width: 90%;
    max-width: var(--width-max);
    max-height: calc(100svh - var(--height-header) - 150px);
    object-fit: contain;
}

img#logo {
    aspect-ratio: 1/1;
    object-fit: contain;
    padding: var(--gap-mini);
    animation: rotate 6s ease-in-out infinite alternate;
    background-color: var(--color-yellow);
    border: 1px solid var(--color-text);
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(-1deg);
    }
}



/* SFEER PAGINA */

main#gallerij>section:first-of-type {
    columns: 3 150px;
    column-gap: var(--gap-small);
}

main#gallerij>section:first-of-type img {
    display: block;
    width: 100%;
    margin-bottom: var(--gap-small);
}



/* AANBODPAGINA */

section#aanbod, section#fichkes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

}

section#aanbod>a {
    height: fit-content;
    border: 1px solid var(--color-text);
    background-color: var(--color-green);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 2 * var(--gap-big) + 2 * var(--gap-mini));
    text-decoration: none;
    padding: var(--gap-small);
}

section#fichkes>a {
    display: block;
    height: fit-content;
    max-width: calc(100% - 2 * var(--gap-big) + 2 * var(--gap-mini));
    text-decoration: none;
}

section#aanbod img {
    width: 69%;
    max-width: 180px;
}

#fichkes a[data-boeket="boeket1"]:hover img {
    content: url("/media/aanbod/schattig2.png");
}

#fichkes a[data-boeket="boeket2"]:hover img {
    content: url("/media/aanbod/schattig2.png");
}

#fichkes a[data-boeket="boeket3"]:hover img {
    content: url("/media/aanbod/schattig2.png");
}

section#aanbod p {
    text-align: center;
    margin: var(--gap-mini) 0;
    font-size: 0.9rem;
}

section#aanbod>a:nth-child(1) { border-radius: 8% 20% 10% 20% / 40% 30% 25% 69%; background-color: var(--color-yellow); }
section#aanbod>a:nth-child(2) { border-radius: 18% 25% 20% 13% / 30% 25% 23% 25%; background-color: var(--color-green); }
section#aanbod>a:nth-child(3) { border-radius: 20% 18% 13% 40% / 33% 40% 18% 50%; background-color: var(--color-purple); }

section#aanbod>a:hover {
    background-color: var(--color-red);
    color: var(--color-bg);
    border: 1px solid var(--color-red);
}

section#aanbod>a:hover img {
    animation: wiggle 1s infinite alternate-reverse;
}

@keyframes wiggle {
    from {transform: rotate(0.5deg);}
    to {transform: rotate(-0.5deg);}
}



/* CONTACT */

section#contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#contact p {
    text-align: center;
}

section#kaart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);
    width: 100%;
    margin-bottom: 0;
}

section#kaart>div {
    flex-grow: 1;
    height: 100%;
}

section#kaart>img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

section#kaart a {
    height: 100%;
    display: block;
}

section#kaart>div img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;

    -webkit-user-drag: none;   /* Safari/Chrome */
    -webkit-touch-callout: none; /* Disable save/copy on long-press */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* BESTELLEN */

form {
    width: 100%;
}

fieldset {
    width: 100%;
    border: 0;

    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-big);
}

input, select {
    height: var(--height-field);
    border: 1px solid var(--color-text);
    border-radius: 0;
    color: var(--color-text);
    margin-bottom: var(--gap-medium);
    background-color: var(--color-bg);

    font-family: var(--font);
    padding: 0 var(--gap-mini);
    font-size: 1.1rem;

    background-color: #36460416;

    accent-color: var(--color-text);
    caret-color: var(--color-text);
}
fieldset.lijnen input::placeholder {
    font-size: 0.8rem;
    color: var(--color-text);
    opacity: 0.69;
    font-family: var(--font2);
}
fieldset.lijnen>input{
    border: 0;
    border-bottom: 2px dashed var(--color-text);
    border-radius: 0;
    color: var(--color-text);
    margin-bottom: var(--gap-medium);
    background-color: var(--color-bg);
    padding: 0;

    font-family: var(--font);
    font-size: 1.4rem;

    accent-color: var(--color-text);
    caret-color: var(--color-text);
}
textarea:focus, input:focus{
    outline: none;
}

select {
    font-family: var(--font2);
    font-size: 0.9rem;
}
select:focus {
    background-color: #e3dab8;
}



/* WebKit and Blink */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  display: inline-flex;
  align-items: center;
  background-color: rgba(245, 222, 179, 0);
  -moz-appearance: textfield;
}

.plusmin {
    display: flex;
    height: calc(2 * var(--height-line));
    width: calc(3 * var(--height-line));
    flex-direction: column;
    flex-wrap: wrap;
}

.plusmin div {
    width: var(--height-line);
    height: var(--height-line);
    aspect-ratio: 1/1;
    border: 1px solid var(--color-text);
    border-left: 0;
    text-align: center;
    font-family: var(--font);
}

.plusmin div:first-of-type {
    border-bottom: 0;
}

input[type="submit"] {
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-tekst);
    font-weight: 600;
    margin-bottom: 0;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    height: var(--height-line);
    width: var(--height-line);

    margin-bottom: 0;
    margin-right: var(--gap-small);

    border: 1px solid var(--color-text);
    border-radius: 0;
    color: var(--color-text);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);
    font-size: 1.4rem;
}


input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
  content: "v";
}

label {
    line-height: var(--height-line);
}

label.rij {
    display: inline-flex;
}

fieldset#aantal>div {
    display: flex;
    justify-content: space-between;
}

fieldset#aantal>div:not(:last-child) {
    margin-bottom: var(--gap-medium);
}

fieldset#aantal>div>img {
    height: calc( 2 * var(--height-line));
    width: calc( 2 * var(--height-line));
    margin-right: var(--gap-small);
}

fieldset#aantal>div>label {
        flex-grow: 1;
        margin-left: var(--gap-mini);
}

fieldset#aantal input {
    height: calc( 2 * var(--height-line));
    width: calc( 2 * var(--height-line));
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font);
    margin-bottom: 0;
    color: var(--color-text);
}
fieldset#aantal input::placeholder {color: var(--color-text);}

fieldset#aantal>div:nth-child(1) .plusmin {background-color: var(--color-yellow);}
fieldset#aantal>div:nth-child(2) .plusmin {background-color: var(--color-green);}
fieldset#aantal>div:nth-child(3) .plusmin {background-color: var(--color-purple);}

#aantal div.afbeelding {
    height: calc( (2* var(--height-line)));
    aspect-ratio: 1/1;
    -webkit-mask-image: url("/public/media/boeket.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url("/media/boeket.png");
    mask-repeat: no-repeat;
    mask-size: contain;
    z-index: 20;
}

#aantal div:nth-child(1) > div.afbeelding {background-color: var(--color-yellow); transform: rotate(-1deg);}
#aantal div:nth-child(2) > div.afbeelding {background-color: var(--color-green); transform: rotate(0deg) scaleX(-1);}
#aantal div:nth-child(3) > div.afbeelding {background-color: var(--color-purple); transform: rotate(1deg);}

fieldset.vraag>*:not(:last-child) {
    margin-bottom: var(--gap-normal);
}   


/* CHECKOUT */
ul {
    list-style-position: inside;
    list-style-type: '❀ ';
    margin-bottom: var(--gap-small);
}

button {
    height: var(--height-field);

    border: 1px solid var(--color-text);
    border-radius: 0;
    background-color: var(--color-bg);
    color: var(--color-text);

    font-size: 1.1rem;
    font-family: var(--font);
    padding: 0 var(--gap-mini);
}


@media screen and (min-width: 800px) {
    span.mobile {display: none;}
    .desktop {display: flex;}
    span.desktop {display: inline;}
    section#aanbod, section#fichkes {
        flex-direction: row;
    }

    section#fichkes a {
            width: 33%;
    }
    section#aanbod>div {
        width: 400px;
    }

    section#kaart {
        height: 400px;
        flex-direction: row;
    }
}