button.add-to-basket{
    height: var(--height-line);
    width: auto;
    background-color: #f0e6da;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button.add-to-basket img {
    height: var(--height-line);
    width: var(--height-line);
}

.code {
    display: flex;
    margin-bottom: 0;
}

.code input {
    flex-grow: 1;
    margin-bottom: 0;
    font-family: var(--font2);
}

.code button {
    background-color: var(--color-text);
    color: var(--color-bg);
    font-family: var(--font2);
}